@font-face {
    font-family: CarroisGothic-Reg;
    src: url(./resources/CarroisGothic-Regular.ttf);
  }

* {
    margin: 0px;
    font-family: CarroisGothic-Reg, Arial, Helvetica, sans-serif;
    font-size: inherit;
    color: var(--text-light-col);
}

img {
    filter: var(--link-col-filter);
}

button > img {
    filter: var(--text-dark-col-filter);
}

a {
    text-decoration: none;
    color: var(--link-col);
}

a:hover {
    color: var(--hover-col);
}

a:active {
    color: var(--active-col);
}

a > img:hover, a:hover > img, .trending > a:hover + a > img {
    filter: var(--hover-col-filter);
}

a:active > img {
    filter: var(--active-col-filter);
}

:root {
    --theme: "light";
    --main-bg-col: #fefcff;
    --lower-bg-col: #ffffff;
    --sidebar-bg-col: #ffeafe;
    --hover-col: #d09cfa;
    --active-col: #5d2986;
    --link-col: #8e4bc5;
    --text-light-col: #141402;
    --text-dark-col: #fffff4;
    --link-col-filter: invert(44%) sepia(21%) saturate(1621%) hue-rotate(230deg) brightness(84%) contrast(107%);
    --hover-col-filter: invert(66%) sepia(87%) saturate(796%) hue-rotate(207deg) brightness(98%) contrast(101%);
    --active-col-filter: invert(21%) sepia(23%) saturate(4443%) hue-rotate(251deg) brightness(93%) contrast(98%);
    --text-dark-col-filter: invert(95%) sepia(2%) saturate(1227%) hue-rotate(356deg) brightness(106%) contrast(101%);
    --panes-bg-filter: hard-light;
    --font-size-base: 14px;
    font-size: var(--font-size-base);
}

.main-body {
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(100vh, auto);
}

.sidebar {
    background-color: var(--sidebar-bg-col);
    display: grid;
    gap: 4px;
    align-content: start;
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: solid;
    border-right-width: 1px;
    border-color: var(--text-light-col);
}

.sidebar-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-left: 20px;
    margin-right: 8px;
}

.sidebar-item:first-child {
    margin-left: 4px;
    margin-top: 4px;
}

.sidebar-spacer {
    height: 24px;
}

.sidebar-item > a {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: calc(var(--font-size-base) + 2px);
}

.sidebar-item > a > img {
    height: 32px;
    width: 32px;
}

.sidebar-item:first-child > a > img {
    height: 48px;
    width: 48px;
}

.sidebar-item:first-child > a {
    font-size: calc(var(--font-size-base) + 8px);
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: var(--main-bg-col);
    display: grid;
    grid-template-columns: 1fr minmax(300px, max-content);
    grid-template-rows: minmax(50px, max-content) minmax(50px, max-content);
    justify-items: stretch;
    align-items: center;
    padding-left: 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: var(--text-light-col);
}

.search {
    display: flex;
}

.search-bar {
    width: 100%;
    color: var(--text-light-col);
    background-color: var(--main-bg-col);
    align-items: center;
    font-size: calc(var(--font-size-base) + 2px);
    height: calc(var(--font-size-base) + 16px);
}

.search > a > img {
    height: 32px;
    width: 32px;
}

.account {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 24px;
    font-size: calc(var(--font-size-base) + 2px);
}

.account > div, .account > a > img {
    margin: 0px 4px 0px 4px;
}

.account > a > img {
    height: 32px;
    width: 32px;
}

.greeting {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: max-content auto;
    align-items: end;
    column-gap: 8px;
    font-size: calc(var(--font-size-base) + 2px);
    margin-bottom: 8px;
}

.greeting > div:last-child {
    align-self: start;
}

.greeting > img {
    grid-area: 1 / 1 / 3 / 1;
    align-self: center;
    height: 48px;
    width: 48px;
}

.buttons {
    display: flex;
    justify-content: right;
    gap: 8px;
    margin-right: 24px;
}

.header-button {
    background-color: var(--link-col);
    color: var(--text-dark-col);
    display: flex;
    border: none;
    border-radius: 8px;
    align-items: center;
    padding: 4px;
    box-shadow: 1px 1px 4px 0.3px var(--active-col);
}

.header-button:hover {
    background-color: var(--hover-col);
}

.header-button:active {
    background-color: var(--active-col);
}

.header-button > img {
    height: 24px;
    width: 24px;
}

.panes {
    background: no-repeat center/cover url(./resources/forest_sky.jpg);
    background-color: var(--lower-bg-col);
    background-blend-mode: var(--panes-bg-filter);
    display: grid;
    grid-template-columns: 1fr minmax(200px, min-content);
    grid-template-rows: minmax(24px, max-content) 1fr;
    column-gap: 24px;
    padding: 0px 24px 24px 24px;
}

.left-panes {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, max-content);
}

.right-panes {
    display: grid;
    grid-area: 1 / 2 / 3 / 3;
    grid-template-rows: minmax(24px, max-content) max-content;
    grid-auto-rows: minmax(48px, max-content) max-content;
    align-items: end;
}

.pane {
    background-color: var(--main-bg-col);
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0.3px var(--active-col);
}

.project-pane-title {
    font-weight: bold;
    font-size: calc(var(--font-size-base) + 4px);
    padding: 16px 8px 16px 8px;
}

.project-pane {
    display: grid;
    grid-template-rows: auto 1fr max-content;
    justify-content: stretch;
    border-left-style: solid;
    border-left-color: var(--link-col);
    border-left-width: 8px;
}

.project-pane-title,
.project-pane-footer,
.announcement,
.trending {
    padding: 16px 8px 16px 8px;
}

.project-pane-content {
    padding: 0px 8px 0px 8px;
}

.project-pane-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-content: end;
    align-items: end;
    gap: 4px;
    padding: 16px 8px 16px 8px;
}

.project-pane-footer > a > img {
    height: 20px;
    width: 20px;
}

.fav-img {
    content: url("./resources/star-plus.svg");
}

.open-img {
    content: url("./resources/open-in-app.svg");
}

.share-img {
    content: url("./resources/share-variant.svg");
}

.project-header {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements-pane {
    display: grid;
    align-items: start;
    align-content: start;
    grid-auto-rows: auto;
}

.announcement > a {
    font-size: calc(var(--font-size-base) + 1px);
}

.announcement > p, .trending > a {
    font-size: calc(var(--font-size-base) - 2px);
}

.announcement:nth-child(1n + 2) {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--lower-bg-col);
}

.info-header {
    display: flex;
    align-items: end;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: calc(var(--font-size-base) + 8px);
    font-weight: bold;
}

.trending {
    display: grid;
    grid-template-rows: 1em auto;
    grid-template-columns: 48px 1fr;
    align-items: center;
}

.trending > a > img {
    height: 48px;
    width: 48px;
}

.trending > a:first-child {
    font-size: calc(var(--font-size-base) + 1px);
    font-weight: bold;
    display: flex;
    height: 100%;
    align-self: start;
    grid-area: 1 / 1 / 3 / 3;
}

.trending > a:first-child > img {
    align-self: center;
}

.trending > a:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
}